@model IEnumerable<Gummies.Models.Gummy>

@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>Gummi Bear Kingdom</h2>
    <h4>Our types of gummies:</h4>
    <ul>
        @foreach (var listGummy in Model)
        {
            <li>@Html.ActionLink((string) @listGummy.Name, "Details", new { id = listGummy.GummyId })</li>
        }
    </ul>
    <p>@Html.ActionLink("Add new item", "Create")</p>
