@model IEnumerable<Gummies.Models.Gummy>

@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="jumbotron" id="top-bar">
        <h1 id="gums-jels">Gummies & Jellies</h1>
    </div>
<div class="container">
    <div class="col-xs-3">
        <div class="column-header">
            Browse Products By
        </div>
        <div class="section-box">
            <h2>Collection</h2>
            <h5>Best Sellers</h5>
            <h5>New Arrivals</h5>
            <h5>Spring Sweets</h5>
            <h5>Rose All Day Collection</h5>
            <h5>24K Candy</h5>
            <h5>Faves in Bulk</h5>
            <h5>Gourmet Tasters</h5>
            <h5>View All</h5>
        </div>
        <div class="section-box">
            <h2>Candy Type</h2>
            <h5>Chocolates</h5>
            <h5>Cocktail</h5>
            <h5>Gummies & Jellies</h5>
            <h5>Licorice</h5>
            <h5>Marshmallows</h5>
            <h5>Pretty Little Things</h5>
            <h5>The Love Collection</h5>
            <h5>Easter Candy</h5>
        </div>
    </div>
    <h4>Our types of gummies:</h4>
    <div class="col-xs-9">
        <div class="row">
            @foreach (var listGummy in Model)
            {
                <div class="col-xs-4 product-square">
                    <img class="index-pic" src="@listGummy.Image" alt="image of product" />
                    <br>
                    @Html.ActionLink((string)@listGummy.Name, "Details", new { id = listGummy.GummyId })
                </div>
            }
        </div>
    </div>
    <p>@Html.ActionLink("Add new item", "Create")</p>

</div>