<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Droid+Serif" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1 id="title">gummi bear kingdom</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
