<!DOCTYPE html>

<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Droid+Serif" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="jumbotron navtron">
        Get Free US Ground Shipping on All Orders +$75 when you checkout with SENDSWEETS
    </div>
    <div class="jumbotron titletron">
        <div class="row">
            <div class="col-xs-5">
                <h1 id="title">gummi bear kingdom</h1>
            </div>
            
            <div class="col-xs-1">
                <img class="icon-nav" src="http://www.iconsdb.com/icons/preview/caribbean-blue/gift-3-xxl.png" alt="gift icon" />
            </div>
            <div class="col-xs-1">
                <img class="icon-nav" src="http://www.iconsdb.com/icons/preview/caribbean-blue/bear-2-xxl.png" alt="bear icon" />
            </div>
            <div class="col-xs-1">
                <img class="icon-nav" src="https://img.clipartfox.com/f810cec82a5ef11a1b8b84156714afe8_caribbean-blue-phone-51-icon-caribbean-blue-clipart_243-243.png" alt="phone icon" />
            </div>
            <div class="col-xs-1">
                <img class="icon-nav" src="http://www.iconsdb.com/icons/preview/caribbean-blue/beach-xxl.png" alt="palm tree icon" />
            </div>
            <div class="col-xs-1">
                <img class="icon-nav" src="http://www.iconsdb.com/icons/preview/caribbean-blue/email-12-xxl.png" alt="mail icon" />
            </div>
            <div class="col-xs-1">
                <img class="icon-nav" src="http://www.iconsdb.com/icons/preview/caribbean-blue/planner-xxl.png" alt="calendar icon" />
            </div>
            <div class="col-xs-1">
                <img class="icon-nav" src="http://www.clipartbest.com/cliparts/yck/gkk/yckgkkMoi.png" alt="candy jar icon" />
            </div>
            
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
